---
import GradientTextElem from '@/shared/ui/GradientTextElem/GradientTextElem.astro';
---

<section>
	<div class="pt-15 md:pt-20 xl:pt-30 flex flex-col items-center gap-8 md:gap-10 xl:gap-15">
		<h1
			class="text-[24px] md:text-[32px] lg:text-[38px] xl:text-[44px] leading-8 md:leading-13 lg:leading-15 xl:leading-15 max-w-225 font-bold text-primary text-center"
		>
			Start
			<GradientTextElem>working more effectively</GradientTextElem>
			right now
		</h1>
		<a
			id="get-started-btn"
			href="#"
			class="w-max inline-flex items-center justify-center gap-2 px-6 py-3 text-white bg-accent-orange hover:bg-accent-orange-dark active:bg-accent-orange-darker rounded-2 text-[18px] font-semibold leading-6 transition-colors"
		>
			Get started for free
		</a>
	</div>
</section>
