{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "es5",
	"printWidth": 132,
	"arrowParens": "always",
	"endOfLine": "lf",
	"singleAttributePerLine": true,
	"plugins": ["prettier-plugin-astro"],
	"vueIndentScriptAndStyle": true,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
