---

---

<section class="section-top-indent">
	<div
		class="p-4 lg:p-8 flex flex-col bg-dark-overlay gap-6 lg:gap-15 bg-cover bg-center rounded-2.5 lg:rounded-5"
		style="background-image: url(/planner-gradient.webp)"
	>
		<h3 class="text-[24px] text-center lg:text-left lg:text-[44px] lg:leading-10 font-bold text-white">
			A task planner
			<br class="lg:hidden" />
			you can trust
		</h3>
		<div class="grid lg:grid-cols-3 gap-8">
			<div class="hidden lg:block"></div>
			<div
				class="px-4 py-3 lg:px-6 justify-center lg:justify-start lg:min-h-35 flex items-center lg:py-6.5 bg-white rounded-1.5"
			>
				<p class="text-[16px] lg:text-[32px] lg:leading-8 text-primary">
					<span
						class="text-transparent font-semibold bg-clip-text bg-linear-to-r from-accent-orange via-accent-orange to-accent-red"
					>
						12+
					</span>
					years building IT solutions
				</p>
			</div>
			<div
				class="px-4 py-3 lg:px-6 justify-center lg:justify-start lg:min-h-35 flex items-center lg:py-6.5 bg-white rounded-1.5"
			>
				<p class="text-[16px] lg:text-[32px] lg:leading-8 text-primary">
					Secured by
					<span
						class="text-transparent font-semibold bg-clip-text bg-linear-to-r from-accent-orange via-accent-orange to-accent-red"
					>
						ISO/IEC 27001:2005
					</span>
				</p>
			</div>
			<div class="hidden lg:block"></div>
			<div
				class="px-4 py-3 lg:px-6 justify-center lg:justify-start lg:min-h-35 flex items-center lg:py-6.5 bg-white rounded-1.5"
			>
				<p class="text-[16px] lg:text-[32px] lg:leading-8 text-primary">
					High availability
					<span
						class="text-transparent font-semibold bg-clip-text bg-linear-to-r from-accent-orange via-accent-orange to-accent-red"
					>
						99.9%
					</span>
				</p>
			</div>
			<div
				class="px-4 py-3 lg:px-6 justify-center lg:justify-start lg:min-h-35 flex items-center lg:py-6.5 bg-white rounded-1.5"
			>
				<p class="text-[16px] lg:text-[32px] lg:leading-8 text-primary">
					<span
						class="text-transparent font-semibold bg-clip-text bg-linear-to-r from-accent-orange via-accent-orange to-accent-red"
					>
						Free
					</span>
					support
				</p>
			</div>
		</div>
	</div>
</section>
