---
import Layout from '@/layouts/Layout.astro';
import AppButton from '@/shared/ui/AppButton/AppButton.astro';
import LinksCardsList from '@/widgets/LinksCardsList/LinksCardsList.astro';

const LINKS = [
	{
		icon: 'icon-apps',
		title: 'Apps',
		link: '/downloads',
		description: 'Get the app here',
	},
	{
		icon: 'icon-features',
		title: 'Features',
		link: '/features',
		description: 'See what we offer',
	},
	{
		icon: 'icon-pricing',
		title: 'Pricing',
		link: '/pricing',
		description: 'Check plans and costs',
	},
	{
		icon: 'icon-blog',
		title: 'Blog',
		link: '/articles/page/1',
		description: 'Learn smarter planning ideas',
	},
] as {
	icon: string;
	title: string;
	link: string;
	description?: string;
}[];
---

<Layout title="Not found">
	<section class="flex flex-col gap-10 lg:gap-15 items-center justify-center section-top-indent">
		<div class="flex flex-col gap-5 lg:gap-10 text-center">
			<h1 class="text-[32px] lg:text-[72px] leading-9 lg:leading-20 font-bold">Whoops! Something went wrong</h1>
			<p class="text-[16px] lg:text-[28px] lg:leading-8 max-w-200 mx-auto text-secondary">
				The page you were looking for doesn’t exist. If you need help, please
				<a
					href="/contacts"
					class="text-accent-blue"
				>
					contact us
				</a>.
			</p>
		</div>
		<AppButton
			href="/"
			size="lg"
		>
			Back to Home
		</AppButton>
	</section>
	<LinksCardsList
		title="Lost? Try one of these"
		description="These sections might be just what you need to continue planning."
		cardClass="p-4 lg:p-8 lg:h-48"
		list={LINKS.map((link) => ({
			...link,
			iconClass: 'w-8 h-8 lg:w-10 lg:h-10',
		}))}
	/>
</Layout>
