---
import Layout from '@/layouts/Layout.astro';
import AppButton from '@/shared/ui/AppButton/AppButton.astro';
import LinksCardsList from '@/widgets/LinksCardsList/LinksCardsList.astro';

const LINKS = [
	{
		icon: 'icon-apps',
		title: 'Приложения',
		link: '/downloads',
		description: 'Скачайте приложение здесь',
	},
	{
		icon: 'icon-features',
		title: 'Возможности',
		link: '/features',
		description: 'Посмотрите, что мы предлагаем',
	},
	{
		icon: 'icon-pricing',
		title: 'Тарифы',
		link: '/pricing',
		description: 'Проверьте планы и цены',
	},
	{
		icon: 'icon-blog',
		title: 'Блог',
		link: '/articles/page/1',
		description: 'Узнайте идеи для умного планирования',
	},
] as {
	icon: string;
	title: string;
	link: string;
	description?: string;
}[];
---

<Layout title="Страница не найдена">
	<section class="flex flex-col gap-10 lg:gap-15 items-center justify-center section-top-indent">
		<div class="flex flex-col gap-5 lg:gap-10 text-center">
			<h1 class="text-[32px] lg:text-[72px] leading-9 lg:leading-20 font-bold">Упс! Что-то пошло не так</h1>
			<p class="text-[16px] lg:text-[28px] lg:leading-8 max-w-200 mx-auto text-secondary">
				Страница, которую вы искали, не существует. Если вам нужна помощь, пожалуйста,
				<a
					href="/contacts"
					class="text-accent-blue"
				>
					свяжитесь с нами
				</a>.
			</p>
		</div>
		<AppButton
			href="/"
			size="lg"
		>
			Вернуться на главную
		</AppButton>
	</section>
	<LinksCardsList
		title="Заблудились? Попробуйте один из этих"
		description="Эти разделы могут быть именно тем, что вам нужно для продолжения планирования."
		cardClass="p-4 lg:p-8 lg:h-48"
		list={LINKS.map((link) => ({
			...link,
			iconClass: 'w-8 h-8 lg:w-10 lg:h-10',
		}))}
	/>
</Layout>
