---

---

<section class="pt-15 lg:pt-30">
	<div class="max-w-200 flex flex-col gap-5 lg:gap-15 mx-auto">
		<h1 class="text-[32px] leading-9 lg:text-[72px] lg:leading-20 font-bold text-primary text-center">
			About
			<span class="text-transparent bg-clip-text bg-linear-to-r from-accent-orange via-accent-orange to-accent-red">
				LeaderTask
			</span>
		</h1>
		<p class="text-[16px] leading-6 lg:text-[28px] lg:leading-10 text-secondary text-center">
			LeaderTask has been helping people simplify daily routines and focus on what matters since 2011. We love creating tools
			that make productivity effortless, clear, and enjoyable.
		</p>
	</div>
	<div class="flex flex-wrap lg:flex-nowrap justify-center gap-4 lg:gap-8 mt-10 lg:mt-15">
		<div
			class="flex flex-col items-start justify-start bg-white rounded-5 p-4 lg:p-6 shadow-card w-full md:w-[calc(50%-16px)] lg:w-[calc((100%-64px)/3)] xl:w-[calc((100%-64px)/3)]"
		>
			<svg class="w-8 h-8 shrink-0">
				<use href="/icons/all-icons.svg#icon-mission"></use>
			</svg>
			<h4 class="text-[18px] lg:text-[24px] leading-8 font-bold text-primary mt-3 mb-2">Mission</h4>
			<p class="text-[16px] lg:text-[20px] leading-6 lg:leading-8 text-secondary">
				To empower people to plan, prioritize, and manage their time effectively, so they can reach their goals with
				confidence.
			</p>
		</div>
		<div
			class="flex flex-col items-start justify-start bg-white rounded-5 p-4 lg:p-6 shadow-card w-full md:w-[calc(50%-16px)] lg:w-[calc((100%-64px)/3)] xl:w-[calc((100%-64px)/3)]"
		>
			<svg class="w-8 h-8 shrink-0">
				<use href="/icons/all-icons.svg#icon-vision"></use>
			</svg>
			<h4 class="text-[18px] lg:text-[24px] leading-8 font-bold text-primary mt-3 mb-2">Vision</h4>
			<p class="text-[16px] lg:text-[20px] leading-6 lg:leading-8 text-secondary">
				To make productivity simple, thoughtful, and accessible for everyone, whether working individually or in a team.
			</p>
		</div>
		<div
			class="flex flex-col items-start justify-start bg-white rounded-5 p-4 lg:p-6 shadow-card w-full md:w-[calc(50%-16px)] lg:w-[calc((100%-64px)/3)] xl:w-[calc((100%-64px)/3)]"
		>
			<svg class="w-8 h-8 shrink-0">
				<use href="/icons/all-icons.svg#icon-diamond"></use>
			</svg>
			<h4 class="text-[18px] lg:text-[24px] leading-8 font-bold text-primary mt-3 mb-2">Values</h4>
			<p class="text-[16px] lg:text-[20px] leading-6 lg:leading-8 text-secondary">
				We value clarity, focus, and thoughtful design, guiding people to do what truly matters while making productivity
				simple and enjoyable.
			</p>
		</div>
	</div>
</section>
