---

---

<section class="pt-15 lg:pt-30">
	<div class="max-w-200 flex flex-col gap-5 lg:gap-15 mx-auto">
		<h1 class="text-[32px] leading-9 lg:text-[72px] lg:leading-20 font-bold text-primary text-center">
			О
			<span class="text-transparent bg-clip-text bg-linear-to-r from-accent-orange via-accent-orange to-accent-red">
				ЛидерТаск
			</span>
		</h1>
		<p class="text-[16px] leading-6 lg:text-[28px] lg:leading-10 text-secondary text-center">
			ЛидерТаск помогает людям упрощать повседневные дела и сосредотачиваться на важном с 2011 года. Мы любим создавать
			инструменты, которые делают продуктивность легкой, понятной и приятной.
		</p>
	</div>
	<div class="flex flex-wrap lg:flex-nowrap justify-center gap-4 lg:gap-8 mt-10 lg:mt-15">
		<div
			class="flex flex-col items-start justify-start bg-white rounded-5 p-4 lg:p-6 shadow-card w-full md:w-[calc(50%-16px)] lg:w-[calc((100%-64px)/3)] xl:w-[calc((100%-64px)/3)]"
		>
			<svg class="w-8 h-8 shrink-0">
				<use href="/icons/all-icons.svg#icon-mission"></use>
			</svg>
			<h4 class="text-[18px] lg:text-[24px] leading-8 font-bold text-primary mt-3 mb-2">Миссия</h4>
			<p class="text-[16px] lg:text-[20px] leading-6 lg:leading-8 text-secondary">
				Дать людям возможность эффективно планировать, расставлять приоритеты и управлять временем, чтобы они могли уверенно
				достигать своих целей.
			</p>
		</div>
		<div
			class="flex flex-col items-start justify-start bg-white rounded-5 p-4 lg:p-6 shadow-card w-full md:w-[calc(50%-16px)] lg:w-[calc((100%-64px)/3)] xl:w-[calc((100%-64px)/3)]"
		>
			<svg class="w-8 h-8 shrink-0">
				<use href="/icons/all-icons.svg#icon-vision"></use>
			</svg>
			<h4 class="text-[18px] lg:text-[24px] leading-8 font-bold text-primary mt-3 mb-2">Видение</h4>
			<p class="text-[16px] lg:text-[20px] leading-6 lg:leading-8 text-secondary">
				Сделать продуктивность простой, продуманной и доступной для всех, независимо от того, работаете ли вы индивидуально
				или в команде.
			</p>
		</div>
		<div
			class="flex flex-col items-start justify-start bg-white rounded-5 p-4 lg:p-6 shadow-card w-full md:w-[calc(50%-16px)] lg:w-[calc((100%-64px)/3)] xl:w-[calc((100%-64px)/3)]"
		>
			<svg class="w-8 h-8 shrink-0">
				<use href="/icons/all-icons.svg#icon-diamond"></use>
			</svg>
			<h4 class="text-[18px] lg:text-[24px] leading-8 font-bold text-primary mt-3 mb-2">Ценности</h4>
			<p class="text-[16px] lg:text-[20px] leading-6 lg:leading-8 text-secondary">
				Мы ценим ясность, фокус и продуманный дизайн, направляя людей к тому, что действительно важно, делая продуктивность
				простой и приятной.
			</p>
		</div>
	</div>
</section>
